section.contact.tablet
  .container.contact-container
    h5.contact__title Contact Us
    p.contact__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ad dolores laborum doloremque consequatur accusantium deleniti nisi debitis placeat architecto et facilis at asperiores, impedit omnis minus dicta dolorem doloribus!
    .direction
      img(src="images/sliders/slide-australia-tablet.png" alt="slide-australia-tablet")
    form.contact-form
      .form-group
        input.form-control.form-input.contact-form__input(type='text', placeholder='Your Name')
        input.form-control.form-input.contact-form__input(type='email', placeholder='Email Address')
        input.form-control.form-input.contact-form__input(type='text', placeholder='Subject')
        textarea.form-control.contact-form__input(rows= "15")
        button.btn.btn-default(type="submit") Submit Now
