//- include mixins and variables for core_feature part
include mixins/core_feature_mixins.html.jade

section.core-feature.slide-banner
  #core-feature-slide.carousel.desktop.slide(data-ride="carousel")
    .carousel-inner.slide-inner(role="listbox")
      each item, i in images
        if i == 1
          .item.active
            img(src= images_url + item, alt= item)
        else
          .item
            img(src= images_url + item, alt= item)
    a.left.core-feature__control--left(href="#core-feature-slide", role="button", data-slide="prev")
      span.slide-control__button.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.core-feature__control--right(href="#core-feature-slide", role="button", data-slide="next")
      span.slide-control__button.glyphicon.glyphicon-chevron-right
      span.sr-only Next
  // Display for mobile
  #core-feature-slide.carousel.mobile.slide(data-ride="carousel")
    .carousel-inner.slide-inner(role="listbox")
      each item, i in images_mobile
        if i == 1
          .item.active
            img(src= images_url + item, alt= item)
        else
          .item
            img(src= images_url + item, alt= item)
  // Display for tablet
  #core-feature-slide.carousel.tablet.slide(data-ride="carousel")
    .carousel-inner.slide-inner(role="listbox")
      each item, i in images_tablet
        if i == 1
          .item.active
            img(src= core_feature_url + item, alt= item)
        else
          .item
            img(src= core_feature_url + item, alt= item)

  .container.slide-banner__content.core-feature__content
    .core-feature__banner.banner
      .banner__photo.col-md-6
        img(src="images/core-feature/screens-core.png" alt="screens-core.png")
      .banner-content.col-md-6
        h4.banner-content__title Core Feature Of AdelFox


        // content display for desktop
        .media.banner-content__description.desktop
          .media-left.media-middle.media__image
            a(href='javascript: void(0);')
              img.media-object(src='images/core-feature/icon-cup.png', alt='icon-cup.png')
          .media-body.media-content
            h5.media-heading.media-content__title Middle aligned media
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, soluta mollitia culpa dolore praesentium quaerat eos voluptate necessitatibus sapiente iure veniam similique tempore atque modi rerum animi, velit quo fuga.

        // content display for tablet
        .banner-content__description.tablet
          a(href='javascript: void(0);')
              img(src='images/core-feature/icon-cup.png', alt='icon-cup.png')
          h5.media-content__title Middle aligned media
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, soluta mollitia culpa dolore praesentium quaerat eos voluptate necessitatibus sapiente iure veniam similique tempore atque modi rerum animi, velit quo fuga.
        // content display for mobile
        .banner-content__description.mobile
          a(href='javascript: void(0);')
              img(src='images/core-feature/icon-cup.png', alt='icon-cup.png')
          h5.media-content__title Middle aligned media
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, soluta mollitia culpa dolore praesentium quaerat eos voluptate necessitatibus sapiente iure veniam similique tempore atque modi rerum animi, velit quo fuga.
        .banner__button
          .btn.banner__button--view read more
          .btn.banner__button--purchase purchase now
