section.final-purchase
  .container
    .final-purchase__title
      p We are always try to create a difference
    .final-purchase__message
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolor doloremque.
    button.final-purchase__button Purchase now
