//- include mixins and variables for introduction part
include mixins/introduction_mixins.html.jade

section.introduction
  .container.introduction-container
    .introduction__title
      p Welcome to Adelfox Design
    .introduction__detail
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ipsam quaerat laborum quasi veniam soluta officiis.
    .introduction-content
      .row
        .col-xs-12.col-sm-4
          .introduction-item
            .introduction-item__image
              .overlay
                span.icon-plus.overlay-plus-icon
              .overlay-triangle
            .introduction-item__title
              p Our mission
            .introduction-item__detail
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste eligendi placeat officia, temporibus! Minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .col-xs-12.col-sm-4
          .introductiont-item
            .introduction-item__image
              .overlay
                span.icon-plus.overlay-plus-icon
              .overlay-triangle
            .introduction-item__title
              p Our values
            .introduction-item__detail
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste eligendi placeat officia, temporibus! Minima.Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        .col-xs-12.col-sm-4
          .introduction-item
            .introduction-item__image
              .overlay
                span.icon-plus.overlay-plus-icon
              .overlay-triangle
            .introduction-item__title
              p Our solution
            .introduction-item__detail
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste eligendi placeat officia, temporibus! Minima.Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

