section.purchase-now
  .container
    .purchase-intro
      .purchase-intro__title
        span You will save the time and effort!
      .purchase-intro__detail
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam eaque excepturi, voluptates repellat debitis omnis fugit odio nulla quia, officiis odit tempore illo minus provident tempora dignissimos, laborum repudiandae ipsam.
    .purchase-now__button
      buton.purchase-button Purchase now
