// 
$black-base: #000;
$while-base: #fff;
$gray-darker: lighten($black-base, 13.5%); // #222
$gray-dark: lighten($black-base, 20%);   // #333
$gray: lighten($black-base, 33.5%); // #555
$gray-light: lighten($black-base, 46.7%); // #777
$gray-lighter: lighten($black-base, 93.5%); // #eee
$blue-dark: #4f6168;

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$btn-default-color:              #333;
$btn-default-bg:                 #fff;
$btn-default-border:             #ccc;
