//code here

$metric-tiny: 5px;
$metric-small: 10px;
$metric-medium: 20px;
$metric-large: 30px;
$metric-big: 70px;
$metric-big-custom: 69px;
$metric-horizontal: 85px;
$metric-width: 45px;
$padding-small-vertical:    7px;
$padding-large-horizontal:  150px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

$line-height-medium: 40px;

$border-trans-small: 30px;
$border-trans-medium: 35px;

$top-small: 15px;