@media screen and (min-width: $screen-sm) {
  .navbar__logo {
    padding: 0;
  }
}

// responsive style for nav-bar on mobile
@media only screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) {
  .navbar-main {
    .menu {
      @include color-style($gray-darkest, $gray-darkest);
      .menu-icon {
        background-color: $brand-info;
      }
      
      &:focus,
      &:hover {
        @include color-style($gray-darkest, $gray-darkest);
      }

      .text-toggle {
        display: block;
        color: $brand-info;
        float: left;
        padding-right: 12px;
        line-height: 1.5;
        margin: 0;
      }
      .icon-btn-wrap {
        float: right;
      }
    }

    .navbar-container {
      background-color: $gray-darker;
      padding: 15px;
      margin: 0 -25px;
    }
  }
}

