.about-us {
  text-align: center;
  @extend %section-margin;
  .profile {
    background-color: $blue-light;
    border-radius: 50%;
    @include rectangle (80px, 80px);
  }
  .media-body {
    text-align: left;
    .social {
      list-style: none;
      padding: 0;
      .social__icon {
        display: inline-block;
        background-color: $blue-light;
        margin: $padding-xs-horizontal;
        color: $while-base;
        padding: $padding-xs-horizontal;
      }
    }
    .rate {
      list-style: none;
      padding: 0;
      .rate__icon {
        display: inline-block;
        color: $color-info;
        font-size: $font-size-sixteen;
        &:last-child {
          color: $gray-lighter;
        }
      }
    }
  }
  .img-us {
    position: relative;
  }
  .img-hover {
    display: none;
    position: relative;
  }
  .logo-us {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 32%;
    margin: $metric-small 0;
    &:hover .img-hover {
      display: block;
      margin: 0 auto;
    }
    &:hover .img-us {
      display: none;
    }
  }
}