// responsive style for mobile-advance on desktop
@media screen and (min-width: $screen-md) {
  .mobile-advance {
    background-image: none;

    .mobile-illustration {
      position: absolute;
      top: -55px;

      @include background-image('mobiles/mobile-illustration-desktop.png', 526px, 460px, cover, bottom center, no-repeat);
    }

    .mobile-intro__title {
      color: $text-title;
    }

    .mobile-intro__button {
      .mobile-button {
        @include color-style($brand-info, $brand-info);
        &:hover {
          @include color-style($gray-darker, $gray-darker);
        }
      }
    }

    .description {
      .description-hexagon {
        &__icon {
          color: $brand-info;
        }
      }

      .description-detail {
        &__title {
          color: $text-title;
        }

        &__message {
          color: $text-description;
        }
      }
    }
  }
}
