//- image for desktop
- var images = ["slide-city.png", "slide-home.png", "slide-singapore.png", "slide-australia.png"]
- var images_url = ["images/sliders/"]
//- image for mobile
- var images_mobile = ["slide-australia-mobile.png", "slide-australia-mobile.png", "slide-australia-mobile.png", "slide-australia-mobile.png"]
//- image for tablet
- var images_tablet = ["core-feature-tablet.png", "core-feature-tablet.png", "core-feature-tablet.png", "core-feature-tablet.png", "core-feature-tablet.png", "core-feature-tablet.png"]
- var core_feature_url = ["images/core-feature/"]
