- var image_url = "images/features/";
- var createFeature = function (icon, title) {
-   return { 'icon': icon, 'title': title };
- }
- var features = [createFeature('icon-paper-plane-o', 'Clean and unique'), createFeature('icon-laptop', 'Responsive design ready'), createFeature('icon-shopping-bag', 'Amazing online store')]
