//- Area manage variables

//- Content for footer tags
- var tags = ['Awesome', 'Photography', 'Web Design', 'Infographic', 'Guitar', 'Theme', 'Website', 'Artist Design', 'Themeforest', 'Music']

//- Content for footer intro
- var content =  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora consequuntur ullam fugiat, architecto quas quis aperiam alias illum enim ipsa"

//- Content for footer menu
- var footer_menu = ['Home', 'Page', 'Portfolio', 'Shop', 'Blog', 'Shortcodes', 'Feature']
//- End area manage variables
