- var image_url = "images/mobiles/";
- var creatAdvance = function (icon, title) {
-   return { 'icon': icon, 'title': title};
- }
- var advances = [creatAdvance('icon-iphone', 'Smart display'), creatAdvance('icon-camera', 'User friendly interface'), creatAdvance('icon-droplet', 'Change flexibility')]
//mobile-advance
