- var createTeamMember = function(name, position, description){
- return {'name': name, 'position': position, 'description': description};
- }
- var members = [createTeamMember('John Doe', 'Founder', ' Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet'), createTeamMember('Marie Colozime', 'Web Designer', ' Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet'), createTeamMember('Hei Ozamaer', 'Photographer', ' Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.'), createTeamMember('Linda Ose', 'Web Developer', ' Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet')];
