- var image_url = "images/responsive/";
- var list_features_left = ["Clear and Clean Design", "Responsive Design", "Retina Ready", "Unique Portfolio and Blog", "Full Shortcodes Design"];
- var list_features_right = ["PSD Templates", "Themeforest", "Corporest Theme", "Layer Sliders ", "Moderm Design"];
