- var images = ["slide-city.png", "slide-home.png", "slide-singapore.png", "slide-australia.png"]
- var images_url = ["images/sliders/"]
- var images_mobile = ["slide-australia-mobile.png", "slide-australia-mobile.png", "slide-australia-mobile.png", "slide-australia-mobile.png"]
- var images_tablet = ["slide-australia-tablet.png", "slide-australia-tablet.png", "slide-australia-tablet.png", "slide-australia-tablet.png"]
