@media (min-width: $screen-xs) and (max-width:  $screen-sm){ 
  .purchase__mobile {
    text-align: center;
  }
  .feature-menu__mobile {
    display: block;
    margin-bottom: $metric-medium;
  }

  .feature-menu__desktop {
  	display: none;
  }
  .box__item {
    height: 125px;
    .more-view {
      padding: 15px 0 !important;
       .more-view__item {
         width: 25px !important;
         height: 25px !important;
       }
    }
    .up-arrow {
      height: 53px !important;
      .object {
        margin-top: 5px !important;
      }
    }
  }
}
