@media (min-width: $screen-xs) and (max-width:  $screen-sm){ 
  .c__btn--learn-more {
    width: 115px;
  }
  .c__btn--purchase-new {
    width: 115px;
  }
  .image-mobile {
    height: 300px !important;
  }
}

@media (max-width: $screen-xs){ 
  .c__btn--learn-more {
    width: 115px;
  }
  .c__btn--purchase-new {
    width: 115px;
  }
  .image-mobile {
    height: 300px !important;
  }
  .box__item {
    height: 125px;
    .more-view {
      padding: 15px 0 !important;
       .more-view__item {
         width: 25px !important;
         height: 25px !important;
       }
    }
    .up-arrow {
      height: 53px !important;
      .object {
        margin-top: 5px !important;
      }
    }
  }
}
