@media (max-width: $screen-xs) { 
  .banner__content {
    color: $while-base;
    text-align: center;
    margin-top: $metric-small;
    
    .amazing {
      font-size: 12px;
      font-weight: $font-weight-tiny;
      text-transform: uppercase;
      margin: 0;
    }

    .best {
      font-size: 12px;
      font-weight: $font-weight-large;
      text-transform: uppercase;
      margin: 0;
    }

    .design {
      font-size: $font-size-main;
      font-weight: $font-weight-tiny;
      text-transform: capitalize;
      margin: 0;
    }
  }
  .member {
    position: relative;
    bottom: -$metric-tiny;
  }

  .banner {
    position: absolute;
    top: 0;
    color: $while-base;
    margin-left: 0;
  }
  .banner__purchase {
    text-align: center;
    .btn-group {
      margin: 1px;
    }
    .btn {
      padding: 0 $metric-tiny;
    }
    .button {
      background-color: $color-primary;
      border-color: $btn-default-color;
      height: $metric-large;
      .btn__icon {
        font-size: $metric-medium;
      }
      .icon-cube {
        color: $color-info;
      }
      .icon-lamp {
        color: $color-success;
      }
      .title {
        text-transform: uppercase;
        font-size: $ont-size-tiny;
        font-weight: 700;
        margin: 0;
      }
      .description {
        font-size: $ont-size-tiny;
        margin: 0;
        padding-top: 0;
      }
    }
  } 
}