@media (min-width: $screen-xs) and (max-width:  $screen-sm){ 
  .inner_mobile {
    height: 150px;
    .item .img__slider {
      width: 100%;
      height: 150px !important;
    }
  }
  .banner__content {
    color: $while-base;
    text-align: center;
    margin-top: 30px;
    
    .amazing {
      font-size: 12px;
      font-weight: $font-weight-tiny;
      text-transform: uppercase;
      margin: 0;
    }

    .best {
      font-size: 12px;
      font-weight: $font-weight-large;
      text-transform: uppercase;
      margin: 0;
    }

    .design {
      font-size: $font-size-main;
      font-weight: $font-weight-tiny;
      text-transform: capitalize;
      margin: 0;
    }
  }
  .member {
    position: relative;
    bottom: -30px;
  }

  .banner {
    position: absolute;
    top: 0;
    color: $while-base;
    margin-left: 0 !important;
  }
  .banner__purchase {
    text-align: center;
    .btn-group {
      margin: 1px;
    }
    .btn {
      padding: 0 $metric-tiny;
    }
    .button {
      background-color: $color-primary;
      border-color: $btn-default-color;
      height: $metric-large;
      .btn__icon {
        font-size: $metric-medium;
      }
      .icon-cube {
        color: $color-info;
      }
      .icon-lamp {
        color: $color-success;
      }
      .title {
        text-transform: uppercase;
        font-size: $ont-size-tiny;
        font-weight: 700;
        margin: 0;
      }
      .description {
        font-size: $ont-size-tiny;
        margin: 0;
        padding-top: 0;
      }
    }
  } 
}

@media (min-width: $screen-sm +1)and (max-width:  $screen-md) { 
  .inner_mobile {
    height: 250px;
    .item .img__slider {
      width: 100%;
      height: 250px !important;
    }
  }
  .banner__content {
    color: $while-base;
    text-align: center;
    margin-top: 50px;
    
    .amazing {
      font-size: 20px;
      font-weight: $font-weight-tiny;
      text-transform: uppercase;
      margin: 0;
    }

    .best {
      font-size: 20px;
      font-weight: $font-weight-large;
      text-transform: uppercase;
      margin: 0;
    }

    .design {
      font-size: 15px;
      font-weight: $font-weight-tiny;
      text-transform: capitalize;
      margin: 0;
    }
  }
  .member {
    position: relative;
    bottom: -20px;
  }

  .banner {
    position: absolute;
    top: 30px !important;
    color: $while-base;
    margin-left: 0 !important;
  }
  .banner__purchase {
    text-align: center;
    .btn-group {
      margin: 1px;
    }
    .btn {
      padding: 0 $metric-tiny;
    }
    .button {
      background-color: $color-primary;
      border-color: $btn-default-color;
      height: 40px;
      .btn__icon {
        font-size: $metric-medium;
      }
      .icon-cube {
        color: $color-info;
      }
      .icon-lamp {
        color: $color-success;
      }
      .title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        margin: 0;
      }
      .description {
        font-size: 13px;
        margin: 0;
        padding-top: 0;
      }
    }
  }  
}

@media (max-width: $screen-xs){ 
  .feature-menu__mobile {
    display: block;
    margin-bottom: $metric-medium;
  }

  .feature-menu__desktop {
  	display: none;
  }
  .inner_mobile {
    height: 150px;
    .item .img__slider {
      width: 100%;
      height: 150px !important;
    }
  }
  .banner__content {
    color: $while-base;
    text-align: center;
    margin-top: $metric-small;
    
    .amazing {
      font-size: 12px;
      font-weight: $font-weight-tiny;
      text-transform: uppercase;
      margin: 0;
    }

    .best {
      font-size: 12px;
      font-weight: $font-weight-large;
      text-transform: uppercase;
      margin: 0;
    }

    .design {
      font-size: $font-size-main;
      font-weight: $font-weight-tiny;
      text-transform: capitalize;
      margin: 0;
    }
  }
  .member {
    position: relative;
    bottom: -36px;
  }

  .banner {
    position: absolute;
    top: 0;
    color: $while-base;
    margin-left: 0 !important;
  }
  .banner__purchase {
    text-align: center;
    .btn-group {
      margin: 1px;
    }
    .btn {
      padding: 0 $metric-tiny;
    }
    .button {
      background-color: $color-primary;
      border-color: $btn-default-color;
      height: $metric-large;
      .btn__icon {
        font-size: $metric-medium;
      }
      .icon-cube {
        color: $color-info;
      }
      .icon-lamp {
        color: $color-success;
      }
      .title {
        text-transform: uppercase;
        font-size: $ont-size-tiny;
        font-weight: 700;
        margin: 0;
      }
      .description {
        font-size: $ont-size-tiny;
        margin: 0;
        padding-top: 0;
      }
    }
  }
}
