//code here
%li-inline-none {
  display: inline-block;
  list-style: none;
}
%icon-style {
  vertical-align: middle;
  font-size: $metric-medium;
  color: $brand-info;
}
.section__text--title {
  font-size: $font-size-h2;
  font-weight: $font-weight-tiny;
  text-transform: capitalize;
}
.section__text--description {
  color: $blue-dark;
  font-weight: $font-weight-small;
}
%section-margin {
  padding: 100px 0;
  position: relative;
}