---
layout: default
title: 'Index pages'
---
!= partial ('slider')
!= partial ('purchase')
!= partial ('feature-product')
!= partial ('mobile-device')
!= partial ('new')
!= partial ('about-us')
!= partial ('difference')