.c__btn--capt {
  text-transform: uppercase;
  padding: 5px 0;
  color: $while-base;
}

button {
  color: $btn-default-bg;
}
.c__btn--purchase {
  margin-top: $metric-large;
  text-transform: uppercase;
}

.c__btn--margin {
  margin: $margin-small $padding-xs-horizontal;
  @include size (140px, 40px);
}

.c__btn--learn-more {
	background-color: $color-info;
  @extend .c__btn--margin;
}

.c__btn--purchase-new {
	background-color: $color-primary;
  @extend .c__btn--margin;
}
.btn:hover {
  color: $btn-default-bg;
}