.feature {
  background-color: $blue-lighter;
  @extend %section-margin;
  text-align: center;
  .carousel__moblie {
    display: none;
    overflow: hidden;
  }
  .feature-menu__desktop {
    a {
      font-size: $font-size-main;
      color: $blue-dark;
    }
  }
  .active {
    background-color: $color-info;
  }
}

.feature-menu__mobile{
  display: none;
  overflow: hidden;
}

.menu-list__items {
  .active {
    background-color: $color-info;
    color: $while-base;
  }
}

.box_feature {
  padding: 0 $border-radius-small;
}

.box__item {
  position: relative;
  @include size (100%, 230px);
  background-color: $gray-light;
  margin: $border-radius-small 0;
  &:hover .hv-box_item{
    display: block;
  }

  .hv-box_item {
    position: absolute;
    background: $color-info;
    @include square(100%);
    display: none;

    .more-view {
      padding: $margin-medium 0;
      text-align: center;
      margin: $metric-tiny 0;

      .more-view__item {
        display: inline-block;
        @include square(32px);
        background-color: $blue-lighter;
        .position_icon {
          position: relative;
          top: 22%;
        }
      }
    }
  }
  .up-arrow {
    display: inline-block;
    position: relative;
    background: $gray-dark;
    color: $while-base;
    text-decoration: none;
    @include size(100%, 90px);
    bottom: -$padding-small-vertical;
    &:after {
      content: '';
      display: block;  
      position: absolute;
      left: 48%;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: $metric-small solid $gray-dark;
      border-top: $metric-small solid transparent;
      border-left: $metric-small solid transparent;
      border-right: $metric-small solid transparent;
    }
  }
}

.carousel-custom {
  bottom: -$metric-big-custom;
}
