//section footer
footer {
  .footer-top {
    position: relative;
    background-color: $color-primary;
    border-bottom: 1.5px solid $color-primary-light;
  }

  .navSocial {
    overflow: hidden;
    padding: $metric-large;
    li {
      float: left;
      display: flex;
      justify-content: center;
        
      a {
        @include sprite-background('/images/icon-footer.png');
        display: block;
        @include square(30px);
      }

      @for $i from 1 through 12 {
        .icon#{$i} {
          @include sprite-column($i, 30px, 0);
        }
      }
    }
  }

  .footer-content {
    background-color: $color-primary;
    color: $blue-dark;
    @extend .navSocial;
    @include clearfix;

    .logo__footer {
      overflow: hidden;
    }

    .logo__text {
      color: $blue-lighter;
      font-size: $font-size-h1;
    }

    .post__img {
      @include square(55px);
      background-color: $blue-light;
      position: relative;
      margin-top: $metric-tiny;

      .icon-plus {
        display: none;
        position: absolute;
        left: 28%;
        margin-top: $top-small;
        color: $while-base;
        overflow: hidden;
        font-size: $font-size-medium;
      }
    }

    .post__img--capt {
      color: $blue-dark;
    }

    .item-tag {
      text-transform: capitalize;
      background-color: $color-primary-darken;
      margin: $padding-xs-horizontal;
      padding: $metric-tiny $metric-small;
      display: inline-block;
    }

    .flickr-widget {
      display: -webkit-flex; /* Safari */
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
      display: flex;   
      flex-wrap: wrap;

      .box-widget {
        @include square(75px);
        background-color: $color-primary-darken;
        margin: $metric-tiny;
      }
    }

    .media__footer-custom {
      margin-top: $metric-tiny;

      &:hover .post__img--capt {
        color: $blue-lighter;
        -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: hover-animation;
        animation-duration: 1s;
      }

      &:hover .post__img{
        background-color: $color-info;
        cursor: pointer;
        -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: hover-animation;
        animation-duration: 1s;
        
        .icon-plus {
          display: inline-block;
          display: block;
        }
      }
    }
  }

  .footer-bottom {
    background-color: $color-primary-darken;

    .made-by {
      color: $blue-dark;
      padding-top: $top-small;
    }
    .menu-footer {
      position: relative;

      .nav__category {
        list-style: none;
        display: inline-block;
        margin: $top-small 0 0 $metric-large;

        a:hover {
          color: $blue-lighter;
        }
      }
    }
  }
}
