.header-top {
  background-color: $brown;
  color: $while;
  @include size (100%, 230px);
  .wrap-header-top {
    text-align: center;
    @extend %section-margin;
  }
  .header-title {
    @extend .uppercase;
    font-size: 5px;
    margin: 0;
  }
  .main-title {
    @extend .uppercase;
    font-size: $font-size-medium;
    margin: $metric-small 0;
    font-weight: 600;
  }

  .btn-purchase {
    background: transparent;
    font-size: $font-size-tiny;
    @extend .uppercase;
    @include size(120px, 35px);
    margin-top: $metric-large;
    border-radius: 5px;
    &:hover {
      background-color: $while;
      color: $feature-black;
      @extend %hover-effect;
    }
  }
}

.category {
  text-transform: capitalize;
  margin: 0 -5px
}

.text-logo {
  font-weight: 900;
}
.serch-menu {
  display: none;
  font-size: 20px;
}

.color-thefox {
  color: $green;
}
