//code here
header {
  margin: 0;
  padding: 0;

  .logo__text {
    color: $blue-dark;
    font-size: $font-size-h1;
  }
}

.header-top {
  padding: $metric-small 0 0 0;
  color: $btn-default-border;

  .contact {
    @extend %li-inline-none;
    margin-right: $metric-medium;
    span {
      @extend %icon-style;
    }
  }
  
  .cart {
    @extend %li-inline-none;
    float: right;
    span {
      @extend %icon-style;
      &.total {
        font-size: $font-size-main !important;
      }
    }
  }
}

