//code here
header {
  margin: 0;
  padding: 0;
}

.header-top {
  padding: $metric-small 0 0 0;
  color: $btn-default-border;
  .contact {
    @extend %li-inline-none;
    margin-right: $metric-medium;
    span {
      @extend %icon-style;
    }
  }
  .cart {
    @extend %li-inline-none;
    float: right;
    span {
      @extend %icon-style;
      .total {
        font-size: $font-size-base !important;
      }
    }
  }
}

.__sub-level2 {
  padding-left: $metric-large;
  .--list-circle {
    list-style: disc;
  }
  a {
    color: $btn-default-border;
    &:hover {
      text-decoration: none;
      color: $color-info;
    }
  }
}
