.image-mobile {
	background-image: url('/images/bg-ip5.png');
	background-repeat: no-repeat;
	background-size: contain;
	@include size (100%, 520px);
}

.mobile {
  padding-top: $section-padding;
  position: relative;
}
