//code here
.nav__category {
  color: $blue-dark;
  text-transform: capitalize;
  .group-menu {
     width: 400px;
     padding: 0;
     background-color: $blue-lighter;
     box-shadow: 1px 1px 5px 1px #ccc;
     border: none;
     .sub-level2 {
       border-left: solid 1px $while-base;
       .list-circle {
         list-style-type: disc;
         a {
           color: $blue-light;
           &:hover {
             color: $color-info;
           }
         }
       }
     }
  }
}

.navbar-brand {
  font-weight: 300;
  background-image: url('../../images/main-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: $metric-big;
  strong {
    font-weight: 900;
  }
}
