.new {
  background-color: $blue-lighter;
  @extend %section-margin;

  .media {
    margin: $margin-medium 0;

    .splan {
      background: $blue-light;
      box-sizing: border-box;
      border-top: solid 5px $color-info;
      @include square(140px);
      &:hover {
        border-top: solid 5px $color-primary-darken;
       
        .day{
          background-color: $color-primary-darken;
          -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
          -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
          animation-name: hover-animation;
          animation-duration: 1s;
        }
      }
    }

    .day {
      background: $color-info;
      @include square(50px);
      margin-left: $metric-small;
      text-align: center;
      color: $while-base;

      .day-number {
        font-size: $font-h2;
        margin-top: -$top-small;
      }
    }
  }
  
  .new-intro {
    text-align: center;
  }
}
