.purchase-capt {
  background-color: $blue-lighter;
  position: relative;
  box-sizing: border-box;
  padding: 60px 0;
}

.purchase-intro {
  position: relative;
  @extend %section-margin;
}

.purcahse__box {
  position: relative;
  box-shadow: 1px 1px 5px 1px $btn-default-border;
  text-align: center;
  padding: 50px $margin-medium;
  margin: 40px 0;

  &:hover .btn__read-more {
    background: $black-base;
    cursor: pointer;
    -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: hover-animation;
    animation-duration: 1s;
  }

  &:hover .hexagon-border{
    .hexagon {
      background: $black-base;
      -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
      animation-name: hover-animation;
      animation-duration: 1s;
      &:before {
        border-bottom: $top-small solid $black-base;
        -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: hover-animation;
        animation-duration: 1s;
      }

      &:after {
        border-top: $top-small solid $black-base;
        -webkit-animation-name: hover-animation; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: hover-animation;
        animation-duration: 1s;
      }
    }
  }

  .around {
    position: absolute;
    top: -20px;
    left: 40%;

  }

  .btn__read-more {
    background: $color-info;
    position: absolute;
    bottom: -14px;
    left: 40%;
  }
  
  .hexagon-border {
    background: $blue-lighter;
    position: relative;
    @include size(70px, 45px);

    &:before {
      content: "";
      position: absolute;
      top: -$metric-medium;
      left: 0;
      @include square(0);
      border-left: $border-trans-medium solid transparent;
      border-right: $border-trans-medium solid transparent;
      border-bottom: $metric-medium solid $blue-lighter;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -$metric-medium;
      left: 0;
      @include square(0);
      border-left: $border-trans-medium solid transparent;
      border-right: $border-trans-medium solid transparent;
      border-top: $metric-medium solid $blue-lighter;
    }

    .hexagon {
      @include size(60px, 40px);
      background: $color-info;
      position: absolute;
      z-index: 2;
      left: 5px;
      top : 2px;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        top: -$top-small;
        left: 0;
        @include square(0);
        border-left: $border-trans-small solid transparent;
        border-right: $border-trans-small solid transparent;
        border-bottom: $top-small solid $color-info;
        z-index: 2;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -$top-small;
        left: 0;
        @include square(0);
        border-left: $border-trans-small solid transparent;
        border-right: $border-trans-small solid transparent;
        border-top: $top-small solid $color-info;
        z-index: 2;
      }
      .box_icon {
        font-size: $font-size-medium;
        color: $while-base;
        position: relative;
        top: 5px;
      }
    }
  }

  .description-title {
    text-transform: capitalize;
    font-size: $font-size-sixteen;
  }
}

.description {
  padding-top: $padding-xs-horizontal;
}
