// 
$while: #ffffff;
$brown: #6d5d68;
$green: #1abc9c;
$yellow: #ffb400;
$blue: #00bff3;
$pink: #bc2a83;
$gray: #88898f;

$feature-black: #222533;
$feature-blue: darken(#d5e4ef, 50%);
$feature-green: darken(#bceae1, 50%);
$feature-gray: darken(#d7dee0, 50%);
$feature-red: darken(#f7d7d7, 50%);
$feature-violet: darken(#e7d9fd, 50%);
$feature-pink: darken(#eedce4, 50%);
$feature-green-light: darken(#def0bf, 50%);

$gray-text: #a1b1bc;
$blue-dark: #1a1c27;