// code here
$font-main: 'Lato', sans-serif;

$font-size-tiny: 9px;
$font-size-small: 14px;
$font-size-main: 15px;
$font-size-medium: 20px;
$font-size-large: 45px;

$font-weight-tiny: 300;
$font-weight-small: 400;
$font-weight-medium: 700;
$font-weight-large: 900;
