-var urlImage = ['hv-logo-opensuse.png','hv-logo-brilliant.png','hv-logo-nuride.png', 'hv-logo-techcombank.png','hv-logo-color.png','hv-logo-livefyre.png']
-var urlLogo = ['images/']
section.about-us.container
  .row
    .col-md-3
    .col-md-6
      p.section__text--title what people say about us
      p.section__text--description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus iste repellat consectetur tenetur deserunt aut consequatur, voluptatum at rerum, aliquam!
    .col-md-3
  .row
    .col-md-6.col-sm-5
      .media
        .media-left
          .profile
        .media-body
          h4.media-heading John Doe
          p.section__text--description October 26,2014
          hr
          p.section__text--description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos enim dolores veniam blanditiis nostrum ipsum tempore quo quisquam laborum delectus, doloribus numquam maxime deleniti quas.
          ul.social
            each icon in ['icon-social-facebook', 'icon-twitter', 'icon-pinterest', 'icon-tumblr']
              li.social__icon
                a(href="javascript: void(0);")
                  span(class='#{icon}')
          ul.rate
            each _ in Array(5)
              li.rate__icon
                a(href="javascript: void(0);")
                  span.icon-star
    .col-md-6.col-sm-7
      ul
        each item in urlImage
          li.logo-us.col-md-4.col-sm-6
            a(href="javascript: void(0);")
              img.logo-effect.img-responsive(src= urlLogo + item, alt= item)