section.best-design
  .container
    .wrap-title
      p.section__text--title we make the best design
      p.section__text--description vivamus viverra, ligula non tincidunt pulvinar, augue est sagittis leo
      .wrap-icon
        .horizontal-stripes
        .icon-sun
        .horizontal-stripes
      .clear
    .row.passage
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut lobortis nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed lacinia, est eget scelerisque blandit, nulla eros mollis erat, vel ornare quam sem ut nisi. Mauris eu dolor mi. Praesent fermentum nulla id nisi interdum faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris ac lacus mi. Vestibulum semper consectetur tortor. Phasellus lobortis magna at mauris pharetra vulputate.
        p Phasellus ut condimentum diam, eget tempus lorem. Morbi bibendum est quis arcu posuere condimentum. Nullam justo eros, pellentesque a metus non, mattis volutpat libero. Praesent ornare felis ante, sit amet porta felis pellentesque fermentum. Donec eget mollis velit. In quis lacus ligula. Cras iaculis velit sed tellus sagittis, et malesuada ipsum eleifend.
        p Vivamus viverra, ligula non tincidunt pulvinar, augue est sagittis leo, id feugiat enim lorem quis nisl. Quisque ac arcu egestas, convallis risus vitae, gravida enim. Praesent iaculis ut lacus a mattis. Nam interdum, nulla id sodales viverra, quam eros commodo est, quis aliquam lectus libero et magna. Mauris et justo volutpat, venenatis ante et, consequat purus.
      .col-md-6
        p Praesent vel cursus sapien. Maecenas id risus id mi tincidunt ultrices. Duis id velit ut purus malesuada gravida. Sed commodo leo a varius auctor. Mauris ac massa suscipit, fringilla neque dignissim, hendrerit ligula. Sed dapibus eleifend lacus, ut dictum quam suscipit vitae. In vel ante vestibulum, adipiscing augue a, egestas velit. Donec semper imperdiet leo, vel feugiat dui tristique sit amet. Nam blandit, nunc et suscipit placerat, urna neque pulvinar mi, ac fringilla ligula metus ut ligula. Quisque dictum elementum dui at placerat. Curabitur accumsan arcu ut lacinia posuere. Aenean cursus, eros sit amet laoreet scelerisque, tortor turpis rhoncus dolor, ac dignissim neque dui a sem. Nam libero lacus, cursus a nisl sed, pellentesque convallis lacus. Phasellus pharetra quis purus sit amet cursus. Etiam id erat diam. Donec tincidunt, velit ornare tincidunt posuere, ipsum lacus tempus mauris, vitae cursus ipsum elit ut odio
        p Suspendisse pharetra eleifend malesuada. Fusce faucibus pharetra nibh, in egestas dui blandit quis. Pellentesque faucibus dictum magna, quis convallis neque aliquam vel. Etiam dictum consectetur ipsum, ac dignissim neque vehicula nec. Cras sed congue nunc. Etiam pellentesque in urna a mattis. Nam sem velit, tempor ac tortor a, congue porta magna. Pellentesque in lorem diam.

