section.difference
  .container
    .row
      .col-md-3
      .col-md-6
        p.section__text--title we always try to create a difference
        p.section__text--description  Lorem ipsum dolor sit amet, consectetur adipisicing.
        button.btn.btn-primary.btn-lg.c__btn--purchase(type='button') purchse now
      .col-md-3