-var lorem7 = 'Lorem ipsum dolor sit amet, consectetur adipisicing. '
footer
  .footer-top
    .container
      .row
        ul.navSocial
          - for (var i=1; i<13; i++) {
            li.col-md-1.col-sm-2
              a(href="javascript: void(0);", class= 'icon' + i)
          - }
  .footer-content
    .container
      .row
        .col-md-3.col-sm-6
          h2.logo__footer
            a.navbar-brand.logo__text(href='javascript: void(0);') adel
              strong fox
          br
          p.clearfix= lorem7
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa laboriosam aperiam sed nemo nam nesciunt porro accusantium impedit corrupti quibusdam! 
          a.text__a--custom(href="javascript: (void:0);")
            | LEAR MORE 
        .col-md-3.col-sm-6
          p.object recent post
          br
          //- loop for print to 3 div media
          - for (var i=1; i<4; i++) { 
            .media.media__footer-custom
              .media-left
                .post__img
                  span.icon-add.icon-plus
              .media-body
                a.post__img--capt(href='javascript: void(0);')= lorem7
                p.section__text--description October 15, 2013
          - }
        .col-md-3.col-sm-6
          p.object tags
          br
          each tags in ['awesome','photography', 'wed design', 'infographic', 'guitar', 'theme', 'website', 'artist design', 'themeforest','music']
            a.text__a--custom(href='javascript: void(0);')
              span.item-tag= tags
        .col-md-3.col-sm-6
          p.object flickr widget
          br
          .flickr-widget
            - for (var i=1; i<7; i++) {
              .box-widget 
            - }
  .footer-bottom
    .container
      .row
        .col-md-4.col-sm-4.col-xs-12
          p.made-by Coppyright &copy; 2013 - Design by tranmautritam 
        .col-md-8.col-sm-8
          ul.menu-footer.pull-right
            each item in ['home', 'pages', 'portfilio', 'shop', 'blog', 'shortcodes', 'feature']
              li.nav__category
                a.text__a--custom(href='javascript: void(0);')= item
