-var desNew = ' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto adipisci, praesentium.'
-var listNew= [{day: '16', title: 'Lorem ipsum dolor sit amet.'}, {day: '18', title: 'Lorem ipsum dolor sit amet.'}, {day: '21', title: 'Lorem ipsum dolor sit amet.'}, {day: '26', title: 'Lorem ipsum dolor sit amet.'}, {day: '27', title: 'Lorem ipsum dolor sit amet.'}, {day: '30', title: 'Lorem ipsum dolor sit amet.'}]
section.new
  .container
    .row
      .col-md-3
      .col-md-6.new-intro
        p.section__text--title breaking news
        p.section__text--description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni culpa ab qui molestiae porro expedita ducimus rem nesciunt deserunt, pariatur.
      .col-md-3
    .row
      each item in listNew
        .col-md-4.col-sm-6
          .media
            .media-left
              .splan
                .day
                  p oct 
                  p.day-number= item.day
            .media-body
              h4.media-heading= item.title
              p.section__text--description= desNew
