- var images = [{imageBg: 'bg-slider.jpg', member: 'member.png'},{imageBg: 'bg-slider.jpg', member: 'member.png'}, {imageBg: 'bg-slider.jpg', member: 'member.png'},{imageBg: 'bg-slider.jpg', member: 'member.png'}]
- var images_url = ["images/sliders/"]
section.slider-banner
  #carousel-example-generic.carousel.slide(data-ride='carousel')
    // Indicators
    .container
    ol.carousel-indicators.indicators-cus-left
      each item, i in images
        if i == 0
          li(data-target="#carousel-example-generic", data-slide-to= i).active
        else
          li(data-target="#carousel-example-generic", data-slide-to= i)

    // Wrapper for slides
    .carousel-inner.inner_mobile(role='listbox')
      each item, i in images
        if i == 0
          .item.active
            img.img-responsive.img__slider(src= images_url + item.imageBg, alt= item)
        else
          .item
            img.img-responsive.img__slider(src= images_url + item.imageBg, alt= item)
            // Controls
    a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
  .container 
    .banner
      .row 
        .col-md-7.col-sm-8.col-xs-7
          .banner__content
            p.amazing amazing theme
            p.best adelfox is the best
            p.design Unique and Modern Design
          .banner__purchase
            .btn-group
              button.btn.button(type='button')
                span.icon-cube.btn__icon
              button.btn.button(type='button')
                div.btn.btn__name--left
                  p.title all in one
                  p.description Purchase now
            .btn-group
              button.btn.button(type='button')
                div.btn.btn__name--right
                  p.title live demo
                  p.description Exflore now
                button.btn.button(type='button')
                  span.icon-lamp.btn__icon
        .col-md-5.col-sm-4.col-xs-5
          .member
            img.img-responsive.img__member(src="images/sliders/member.png", alt="")
