@media (min-width: $screen-lg){ 
  .slide-desktop {
    display: block;
    position: relative;
  }
  .slide-post {
    max-width: 555px;
    height: 583px;
    background-image: url('../images/food/rice.jpg');
    background-size: cover;
    margin-top: 50px;
    position: relative;

    .capt-slide {
      height: 80px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: $blue-dark;
      color: $while;
      margin: 0;
      display: flex;
      justify-content: space-between;
    }

    .capt {
      padding: 20px;
    }

    .navigate-icon {
      font-size: 30px;
      width: 80px;
      height: 80px;
      position: relative;
      text-align: center;
      box-sizing: border-box;
      padding-top: 19px;
      a {
        color: $while;
      }
      &:hover {
        background: gray;
      }

    }
  }
}