.slider-banner {
  position: relative;
}

.item {
  .img__slider {
    width: 100%;
    max-height: 500px;
  }
}

.banner {
  position: absolute;
  top: $metric-horizontal;
  color: $while-base;
  margin-left: $padding-large-horizontal;
}

.banner__content {
  color: $while-base;
  text-align: center;
  margin-top: $metric-big;
  .amazing {
    font-size: $font-size-medium;
    font-weight: $font-weight-tiny;
    text-transform: uppercase;
  }

  .best {
    font-size: $font-size-large;
    font-weight: $font-weight-large;
    text-transform: uppercase;
    margin: 0;
  }

  .design {
    font-size: $font-size-h3;
    font-weight: $font-weight-tiny;
    text-transform: capitalize;
  }
}

.carousel-control {
  width: 5%;
}

.btn-group {
  margin: $metric-tiny;
}
.banner__purchase {
  text-align: center;
  .button {
    background-color: $brand-primary;
    border-color: $btn-default-color;
    height: $metric-big-custom;
    .btn__icon {
      font-size: $font-size-large;
    }
    .icon-cube {
      color: $brand-info;
    }
    .icon-lamp {
      color: $brand-success;
    }
    .title {
      text-transform: uppercase;
      font-size: $font-size-sixteen;
      font-weight: 700;
      margin: 0;
    }
    .description {
      font-size: $font-size-small;
      margin: 0;
    }
    .btn__name--left {
      text-align: left;
    }
    .btn__name--right {
      text-align: right;
    }
  }
}
