@media (max-width: $screen-sm) { 
  .feature-menu__mobile {
    display: block;
    margin-bottom: $metric-medium;
  }

  .feature-menu__desktop {
  	display: none;
  }
  
  .feature {
    .carousel__moblie {
      display: block;
      overflow: hidden;
    }
  }
}
