@media (min-width: $screen-sm +1)and (max-width:  $screen-md) { 
  .header-top {
    display: none;
  }

  .nav.navbar-nav {
    display: block !important;
  }

  .nav {
    float: left;
  }
  .logo__text {
    font-size: $font-size-medium !important;
  }
}