@media (max-width: $screen-sm) { 
 .nav__category {
    color: $blue-dark;
    text-transform: capitalize;

    &.contact__sm{
      display: none;
    }

    .search_sm {
      display: block;
    }
  }
  
  #exampleInputSearch {
    display: none;
  }
}
